{% load staticfiles %}
{% load mathfilters %}

<div class="cart">
	<p><span>{% if cart.summ = 0 %} <div></div> {% else %}&nbsp Всего на {{ cart.summ }} грн {% endif %}</span>
		<div id="dd" class="wrapper-dropdown-2">
            <div><img src="{% static 'images/cart.png' %}" class="razm" alt="" /></div>
            {% if cart.summ = 0 %}
            <ul class="dropdown">
                <li>у вас пока нет выбраных товаров</li>
            </ul>
            {% else %}
			<ul class="dropdown">
            <table>
			    <tr  class="border2">
				    <td class="border2"></td><td class="border2">Название:</td><td  class="border2">Кол-во:</td><td  class="border2">Цена товара:</td><td  class="border2">Итого:</td>
				</tr>
				{% for item in cart.items %}
                <tr class="border2 border5">
				    <td class="border3  border5"><img src="{% url 'main-picture' item.good.pictures.all.0.pk %}" alt=""/></td><td class="border5 nazv">{{ item.good.title }}</td><td class="border5"> {{ item.count }} </td><td class="border5"> {{ item.good.price }} грн </td><td class="border4 border5 kol"> {{ item.good.price|mul:item.count }} грн</td>
				</tr>
				{% endfor %}
			</table>
                <li><hr></li>
                <li class="cost">Всего в корзине на: <div class="cost">{{ cart.summ }} грн</div></li>
                <div class="add-cart razme">
		            <h4><a href="#" class="border" onclick="document.cookie = 'SB-Cart=; expires=Thu, 01 Jan 1970 00:00:01 GMT;'; location.reload()">Очистить</a></h4>
                </div>
		        <div class="add-cart razme">
		            <h4><a class="border1" href="{% url 'main-form' %}">Оформить заказ</a></h4>
                </div>
			</ul>
            {% endif %}
		</div>
	</p>
</div>