{% extends "index.html" %}
{% load staticfiles %}

{% include "index-menu.html" %}

{% block header_slide %}
{% endblock %}

{% block main %}
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
			              <h2>Ваши предложения и вопросы</h2>
					    <form method="post">
					    {% csrf_token %}
                                         	<div>
						        <span><label>Фамилия Имя:</label></span>
						    	<span><input name="username" type="text" class="textbox" ></span>
						    </div>
						    <div>
						        <span><label>E-mail:</label></span>
						    	<span><input name="useremail" type="text" class="textbox"></span>
						    </div>
						    <div>
						        <span><label>Ваш контактный номер телефона:</label></span>
						    	<span><input name="userphone" type="text" class="textbox"></span>
						    </div>
						    <div>
						        <span><label>Ваше письмо:</label></span>
						    	<span><textarea name="usermsg"> </textarea></span>
						    </div>
						   <div>
						        <span><input type="submit" value="Отправить"  class="myButton"></span>
						  </div>
					    </form>
				  </div>
  				</div>
				<div class="col span_1_of_3">
      			<div class="company_address">
				        <h3>Информация магазина:</h3>
				        <p>Украина, Киев</p>
				        <p>Телефон:+38(000)000-00-01</p>
				        <p>Email: <span>info@mycompany.com</span></p>
				   </div>
				 </div>
			  </div>		
         </div> 
    </div>
{% endblock %}

