{% extends "index.html" %}
{% load staticfiles %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.accordion.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#posts").accordion({ 
			header: "div.tab", 
			alwaysOpen: false,
			autoheight: false
		});
	});
</script>
{% endblock %}

{% include "index-menu.html" %}

{% block header_slide %}
{% endblock %}

{% block main %}
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="{% static 'images/delivery1.png' %}" alt="" />
					  <h3> Доставка по Кировограду</h3>
					  <p>Доставка осуществляется в течении 3-х дней. Осуществляется курьером бесплатно (при сумме заказа более 500 грн.) в будние дни с 10-00 до 22-00. Стоимость доставки заказа на сумму менее 500 грн составляет 30 грн.</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="{% static 'images/delivery2.png' %}" alt="" />
					  <h3>Доставка по Украине </h3>
					  <p>Осуществляется в отделение транспортной компании «Нова пошта» по тарифам перевозчика. Доставка товаров в пригород Киева осуществляется на условиях доставки по Украине.<br>График доставки: <br>ПН-ПТ 10:00-20:00, <br>СБ 11:00-15:00</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
                      <img src="{% static 'images/delivery3.png' %}" alt="" />
					  <h3>Способы оплаты</h3>
					  <p>1. Наличный расчет:<br>
                      - при курьерской доставке по Кировограду<br>
                      - при получении заказа в отделениях компании «Нова Пошта»</p>
                      <p>2. Безналичный расчет:<br>
                      - оплата на карту ПриватБанка. При этом способе оплаты Вы экономите от 5 до 15%. Реквизиты для оплаты сообщает консультант после согласования всех деталей заказа.<br>
                      - при безналичном расчете банк может взымать комиссию за проведение оплаты (по тарифам банка)</p>
				</div>
			</div>	
		<div class="faqs">
            <h2>Часто задаваемые вопросы</h2>
            <div id="posts">
			    <div class="tab bar">
                    <h4 class="post-title">1.Когда будет произведена доставка товара?</h4>
                </div>
			    <div class="panel margin-lr-7">
                <p>Доставка осуществляется в течении 3-х дней. В остальных случаях, менеджер предупреждает, когда будет произведена доставка товара.
<br><u>Примечание.</u> Получая заказ наложенным платежом, Вы оплачиваете транспортной компании доставку денег к нам + процент от суммы. Более подробно данную информацию Вы можете уточнить на сайте транспортных компаний.</p>
			    </div>		   
                <div class="tab bar">
                     <h4 class="post-title"> 2.Какая стоимость доставки товаров по Кировограду?</h4>
                </div>
				<div class="panel margin-lr-7">
	                 <p>Осуществляется курьером бесплатно (при сумме заказа более 500 грн.) в будние дни с 10-00 до 20-00. <br>Стоимость доставки заказа на сумму менее 500 грн. составляет 30 грн.</p>
                </div>
                <div class="tab bar">
                     <h4 class="post-title"> 3.Какая стоимость доставки товаров по Украине?</h4>
                </div>
				<div class="panel margin-lr-7">
	                 <p>Доставка осуществляется в отделение транспортной компании «Нова пошта» по тарифам перевозчика.<br>Доставка товаров в пригород Киева осуществляется на условиях доставки по Украине. </p>
                </div>
				<div class="tab bar">
                    <h4 class="post-title"> 4.Где узнать реквизиты для оплаты товара?</h4>
            	</div>
			 	<div class="panel margin-lr-7">
	                <p>Реквизиты для оплаты сообщает консультант после согласования всех деталей заказа.</p>
             	</div>
            </div>
		</div>
    </div>
</div>
{% endblock %}

