{% load staticfiles %}
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Информация</h4>
                <ul>
                    <li><a href="{% url 'main-about' %}">Про нас</a></li>
                    <li><a href="{% url 'main-delivery' %}">Доставка и оплата</a></li>
                    <li><a href="{% url 'main-contact' %}">Контакты</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Мой акаунт</h4>
                <ul>
                    <li><a href="{% url 'main-login' %}">Вход</a></li>
					<li><a href="{% url 'main-login' %}">Регистрация</a></li>
                    <li><a href="#">Корзина</a></li>
                    <li><a href="{% url 'main-contact' %}">Помощь</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Телефоны</h4>
                <ul>
                    <li><span>+00-000-000001</span></li>
                    <li><span>+00-000-000002</span></li>
                </ul>
            </div>
			<div class="col_1_of_4 span_1_of_4 social-icons">
			    <h4>Соц. сети</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="" /></a>
                        </li>
                        <li><a href="#" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{% static 'images/skype.png' %}" alt="" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="{% static 'images/dribbble.png' %}" alt="" /></a>
                        </li>
                        <li><a href="#" target="_blank"> <img src="{% static 'images/linkedin.png' %}" alt="" /></a>
                        </li>
                        <div class="clear"></div>
                    </ul>
			</div>
        </div>
    </div>
    <div class="copy_right">
        <p><a href="#">ShopBox</a> © All rights Reseverd </p>
    </div>
</div>