{% load staticfiles %}
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Information</h4>
                <ul>
                    <li><a href="{% url 'main-about' %}">About Us</a></li>
                    <li><a href="{% url 'main-delivery' %}">Delivery</a></li>
                    <li><a href="{% url 'main-contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>My account</h4>
                <ul>
                    <li><a href="{% url 'main-login' %}">Login</a></li>
					<li><a href="{% url 'main-login' %}">Registration</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="{% url 'main-contact' %}">Help</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Contact</h4>
                <ul>
                    <li><span>+00-000-000001</span></li>
                    <li><span>+00-000-000002</span></li>
                </ul>
            </div>
			<div class="col_1_of_4 span_1_of_4 social-icons">
			    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="" /></a>
                        </li>
                        <li><a href="#" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{% static 'images/skype.png' %}" alt="" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="{% static 'images/dribbble.png' %}" alt="" /></a>
                        </li>
                        <li><a href="#" target="_blank"> <img src="{% static 'images/linkedin.png' %}" alt="" /></a>
                        </li>
                        <div class="clear"></div>
                    </ul>
			</div>
        </div>
    </div>
    <div class="copy_right">
        <p>ShopBox © All rights Reseverd | Design by <a href="#">ShopBox</a></p>
    </div>
</div>