{% extends "index.html" %}
{% load staticfiles %}
{% load mathfilters %}

{% include "index-menu.html" %}

{% block header_slide %}
{% endblock %}

{% block main %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
</head>
<body>
    <div class="container">
	    <section>
            <div id="container_demo" >
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form">
                        <form  autocomplete="on" id="zakaz" method="post">
		            {% csrf_token %}
                            <h1>Форма заказа</h1> 
							<table>
			                    <tr  class="border2">
				                    <td class="border2"></td><td class="border2">Название:</td><td  class="border2">Кол-во:</td><td  class="border2">Цена товара:</td><td  class="border2">Итого:</td>
				                </tr>
				            {% for item in cart.items %}
                                <tr class="border2">
				                    <td class="border3"><img src="{% url 'main-picture' item.good.pictures.all.0.pk %}" alt=""/></td><td class="nazv">{{ item.good.title }}</td><td> {{ item.count }} </td><td> {{ item.good.price }} грн </td><td class="border4 kol"> {{ item.good.price|mul:item.count }} грн</td>
				                </tr>
				            {% endfor %}
							</table>
							<div class="cost1">Заказ на сумму: {{ cart.summ }} грн*</div>
							<div class="cost2">*Сумма заказа указана без учета оплаты за доставку.</div>
                            &nbsp
							<p>
                                <label for="firstname" class="uname">Ваше имя:</label>
                                <input id="firstname" name="firstname" required="required" type="text" placeholder="Иван" />
                            </p>
							<p> 
                                <label for="lastname" class="uname">Ваша фамилия:</label>
                                <input id="lastname" name="lastname" required="required" type="text" placeholder="Иванов" />
                            </p>
							<p> 
                                <label for="tel" class="uname">Ваш контактный номер:</label>
                                <input id="tel" name="tel" required="required" type="tel" pattern="+38 (0[0-9]{2})-[0-9]{7}" placeholder="+38 (012) 3453489" />
                            </p>
							<p>
                                <label for="place" class="uname">Адрес доставки: <I class="cost2 style">Город, улица, номер дома</I></label>
                                <input id="place" name="place" required="required" type="text" placeholder="Киев, ул. Металистов, 2" />
                            </p>
                            <p class="login buton"> 
                                <input type="submit" value="Оформить заказ" /> 
     			            </p>
                                <input name="cart" type="hidden" value="{{cart_json}}">
                            </form>
                    </div>
                </div>
            </div>
        </section>
	</div>
</body>
{% endblock %}

