{% load staticfiles %}
<!DOCTYPE HTML>
<head>
    <title>ShopBox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% block extra_css %}
    <link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/startstop-slider.js' %}"></script>
{% endblock %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
{% block cart_css %}	
	<link rel="stylesheet" type="text/css" href="{% static 'css/wicart.css' %}" />
{% endblock %}
{% block cart_js %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
</head>

<body>
<div class="wrap">
    <div class="header">
{% include "top-menu.html" %}
        <div class="header_top">
            <div class="logo">&nbsp &nbsp &nbsp &nbsp
                <a href="{% url 'main-index' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a>
            </div>
			<div class="cart">
			    <p><span>Корзина: &nbsp </span>
                <div id="dd" class="wrapper-dropdown-2">
                    <div><img src="{% static 'images/cart.png' %}" class="razm" alt="" /></div>
					<ul class="dropdown">
                        <li>у вас пока нет выбраных товаров</li>
                    </ul>
                </div>
	            </p>
            </div>
            <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }

            $(function() {

                var dd = new DropDown( $('#dd') );

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-2').removeClass('active');
                });

            });


            </script>
            <div class="clear"></div>
        </div>
        <div class="header_bottom">
{% include "index-menu.html" %}
            <div class="search_box">
                <form>
                    <input  class="search1" type="search" name="search" value="Поиск" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Поиск';}"><input type="submit" value="">
                </form>
            </div>
            <div class="clear"></div>
        </div>
{% block header_slide %}
        <div class="header_slide">
            <div class="header_bottom_left">
                <div class="categories">
                    <ul>
                        <h3>&nbsp &nbsp Категории</h3>
                        <li><a href="#">15-30 см</a></li>
                        <li><a href="#">31-50 см</a></li>
                        <li><a href="#">51-80 см</a></li>
                        <li><a href="#">81-120 см</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_bottom_right">
                <div class="slider">
                    <div id="slider">
                        <div id="mover">
                            <div id="slide-1" class="slide">
                                <div class="slider-img">
                                    <a href="{% url 'main-preview' 2 %}"><img src="{% static 'images/slide-1-image.gif' %}" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>Не пропустите<br><span>Скидку</span></h1>

                                    <h2>до 20% </h2>

                                    <div class="features_list">
                                        <h4>Спешите купить, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-preview' 2 %}" class="button">Подробнее</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="slide">
                                <div class="slider-text">
                                    <h1>Не пропустите<br><span>Скидку</span></h1>

                                    <h2>до 40%</h2>

                                    <div class="features_list">
                                        <h4>Спешите купить, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-preview' 1 %}" class="button">Подробнее</a>
                                </div>
                                <div class="slider-img">
                                    <a href="{% url 'main-preview' 1 %}"><img src="{% static 'images/slide-3-image.png' %}" alt="learn more" /></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="slide">
                                <div class="slider-img">
                                    <a href="{% url 'main-preview' 4 %}"><img src="{% static 'images/slide-2-image.jpg' %}" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>Не пропустите<br><span>Скидку</span></h1>

                                    <h2>до 10%</h2>

                                    <div class="features_list">
                                        <h4>Спешите купить, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-preview' 4 %}" class="button">Подробнее</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
{% endblock %}
    </div>

{% block main %}
    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>Новые поступления</h3>
                </div>
                <div class="see">
                    <p><a href="#">Посмотреть все товары</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
{% for good in goods %}
               <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url 'main-preview' pk=good.pk %}"><img src="{% url 'main-picture' good.pictures.all.0.pk %}" alt="" /></a>

                    <h2>{{good.title}}</h2>

                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">${{good.price}}</span></p>
                        </div>
                        <div class="add-cart">
						    <h4><a href="#!" onclick="cart.addToCart(this, pk=good.pk, good.price)">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</div>
{% include "footer.html" %}
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

