{% load staticfiles %}
{% load mathfilters %}
<!DOCTYPE HTML>
<head>
    <title>ShopBox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="У нас Вы можете заказать качественную детскую одежду, а также очень красивые и в тоже время не дорогие портреты Ваших любимых, или просто рисунки под заказ." />
    <meta name="keywords" content="колготки, носочки, магазин, интернет-магазин, Киев, ShopBox, рисунки, портреты, под заказ, колготки под памперс, носочки на малыша, А4, А3" />
    <meta name="owner" content="shopboxua@gmail.com" />
    <meta name="author" content="ShopBox" />
    <meta http-equiv="content-language" content="ru" />
    <meta name="robots" content="index,follow" />
	<meta name="author" content="Денис Шамрай">
	<meta name="copyright" content="Все права принадлежат Денису Шамраю">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% block extra_css %}
    <link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/startstop-slider.js' %}"></script>
{% endblock %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
{% block cart_css %}	
	<link rel="stylesheet" type="text/css" href="{% static 'css/wicart.css' %}" />
{% endblock %}
{% block cart_js %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
</head>

<body>
<div class="container123">
<div class="wrap">
    <div class="header">
{% include "top-menu.html" %}
        <div class="header_top">
            <div class="logo">&nbsp &nbsp &nbsp &nbsp
                <a href="{% url 'main-index' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a>
            </div>
{% include "cart.html" %}
            <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }

            $(function() {

                var dd = new DropDown( $('#dd') );

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-2').removeClass('active');
                });

            });


            </script>
            <div class="clear"></div>
        </div>
        <div class="header_bottom">
{% include "index-menu.html" %}
            <!-- <div class="search_box">
                <form>
                    <input  class="search1" type="search" name="search" value="Поиск" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Поиск';}"><input type="submit" value="">
                </form>
            </div> -->
            <div class="clear"></div>
        </div>
{% block header_slide %}
        <div class="header_slide">
            <div class="header_bottom_left">
{% include "categories.html" %}                
            </div>
            <div class="header_bottom_right">
                <div class="slider">
                    <div id="slider">
                        <div id="mover">
                            <div id="slide-1" class="slide">
                                <div class="slider-img">
                                    <a href="{% url 'main-portrait' %}"><img src="{% static 'images/slide-1-image.jpg' %}" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>Не пропустите<br>Заказывайте<br><span>Рисунки</span></h1>

                                    <h2>самые низкие цены</h2>

                                    <div class="features_list">
                                        <h4>Спешите заказать, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-portrait' %}" class="button">Подробнее</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="slide">
                                <div class="slider-text">
                                    <h1>Не пропустите<br>Заказывайте<br><span>Портреты</span></h1>

                                    <h2>самые низкие цены</h2>

                                    <div class="features_list">
                                        <h4>Спешите заказать, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-portrait' %}" class="button">Подробнее</a>
                                </div>
                                <div class="slider-img zdvig">
                                    <a href="{% url 'main-portrait' %}"><img src="{% static 'images/slide-2-image.jpg' %}" alt="learn more" /></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="slide">
                                <div class="slider-img zdvig1">
                                    <a href="{% url 'main-portrait' %}"><img src="{% static 'images/slide-3-image.jpg' %}" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>Не пропустите<br>Заказывайте<br><span>Портреты</span></h1>

                                    <h2>самые низкие цены</h2>

                                    <div class="features_list">
                                        <h4>Спешите заказать, не упустите свою возможность!</h4>
                                    </div>
                                    <a href="{% url 'main-portrait' %}" class="button">Подробнее</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
{% endblock %}
    </div>

{% block main %}
    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>Новые поступления</h3>
                </div>
                <div class="see">
                    <p><a href="{% url 'main-index' %}">Посмотреть все товары</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
{% for good in goods %}
               <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url 'main-preview' pk=good.pk %}"><img class="img" src="{% url 'main-picture' good.pictures.all.0.pk %}" alt="" /></a>

                    <h2>{{good.title}}</h2>

                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">{{good.price}} грн</span></p>
                        </div>
                        <div class="add-cart">
						    <h4><a href="{% url 'main-cart-add' pk=good.pk url=url_name %}">Купить</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</div>
{% include "footer.html" %}
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</div> <!-- container  -->
</body>
</html>

