<div class="headertop_desc">
        <div class="call">
            <p><span>Need help?</span> &nbsp Call us &nbsp<span class="number">+38(050)94-666-44</span></span></p>
        </div>
        <div class="account_desc">
            <ul>
                <li><a href="{% url 'main-index' %}">Home</a></li>
				<li><a href="{% url 'main-login' %}">Login/Registration</a></li>
                <li><a href="{% url 'main-delivery' %}">Delivery</a></li>
                <li><a href="{% url 'main-contact' %}">Contact</a></li>
                <li><a href="#">My Account</a></li>
            </ul>
        </div>
    <div class="clear"></div>
</div>