<div class="headertop_desc">
        <div class="call">
            <p><span>Нужна помощь?</span> &nbsp Звони нам: &nbsp<span class="number">+38(050)94-666-44</span></span></p>
        </div>
        <div class="account_desc">
            <ul>
                <li><a href="{% url 'main-index' %}">Каталог</a></li>
<!-- 				<li><a href="{% url 'main-login' %}">Вход/Регистрация</a></li> -->
                <li><a href="{% url 'main-delivery' %}">Доставка и оплата</a></li>
                <li><a href="{% url 'main-contact' %}">Контакты</a></li>
            </ul>
        </div>
    <div class="clear"></div>
</div>