<div class="headertop_desc">
        <div class="call">
            <div><span style="font-weight: 700;font-size: 14px; float:left;">Нужна помощь?</span><div style="color: #adadad;font-size: 14px; float:left; margin-left:44px;margin-right:10px;">Звоните нам:</div><span class="number" style="float:left;margin-left:10px;font-size:16px;font-weight:700;color:#e2151c;">+38 (096) 083-57-49</span></div>
        </div>
        <div class="account_desc">
            <ul>
                <li><a href="{% url 'main-index' %}">Каталог</a></li>
                <li><a href="{% url 'main-portrait' %}">Заказать рисунок</a></li>
                <li><a href="{% url 'main-delivery' %}">Доставка и оплата</a></li>
                <li><a href="{% url 'main-contact' %}">Контакты</a></li>
            </ul>
        </div>
    <div class="clear"></div>
</div>